.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 2rem;
    width: 100%;
    padding: 15px;
    background-color: #f8f8f8;
    box-shadow: 5px 7px 10px #cccccc;
    flex-direction: row;
}

.footeroption {
    width: 10rem;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    font-family: Copperplate;
}

.footeroption:hover {
    color: green;
    transform: scale(1.1);
}

.footeroption:first-of-type {
    border-left: none;
}

.footeroption:last-of-type {
    border-right: none;
}